<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lexsoft.project.constructions.repository.OfferMapper">

    <resultMap id="offers" type="com.lexsoft.project.constructions.model.db.OfferDB">
        <id property="id" column="id"/>
        <result property="description" column="description"/>
        <result property="accepted" column="accepted"/>
        <result property="amount" column="amount"/>
        <result property="status" column="status"/>
        <association property="user" javaType="com.lexsoft.project.constructions.model.db.UserDB">
            <id property="id" column="user_id"/>
            <result property="username" column="username"/>
        </association>
        <association property="bidder" javaType="com.lexsoft.project.constructions.model.db.BidderDB">
            <id property="id" column="bidder_id"/>
            <result property="name" column="bidder_name"/>
        </association>
        <association property="tender" javaType="com.lexsoft.project.constructions.model.db.TenderDB">
            <id property="id" column="tender_id"/>
            <id property="name" column="tender_name"/>
        </association>
    </resultMap>

    <insert id="placeOffer">
        INSERT INTO offer ( id, description, amount, accepted, user_id, tender_id, bidder_id, status)
        VALUES (#{offer.id}, #{offer.description},#{offer.amount},#{offer.accepted},
        #{offer.user.id},#{offer.tender.id}, #{offer.bidder.id}, #{offer.status})
    </insert>

    <select id="findOfferById" resultMap="offers">
        SELECT o.id, o.description, o.amount, o.accepted,o.status, u.username,
               u.id AS user_id, b.id AS bidder_id, t.id AS tender_id
        FROM offer o
        LEFT JOIN user u ON (o.user_id = u.id)
        LEFT JOIN bidder b ON (o.bidder_id = b.id)
        LEFT JOIN tender t ON (o.tender_id = t.id)
        WHERE o.id = #{id}
    </select>

    <select id="findOffers" resultMap="offers">
        SELECT o.id, o.description, o.amount, o.accepted, o.status, u.username,
        u.id AS user_id, b.id AS bidder_id, t.id AS tender_id, t.name AS tender_name
        FROM offer o
        LEFT JOIN user u ON (o.user_id = u.id)
        LEFT JOIN bidder b ON (o.bidder_id = b.id)
        LEFT JOIN tender t ON (o.tender_id = t.id)
        WHERE 1=1
        <if test="userId != null"> AND o.user_id = #{userId} </if>
        <if test="bidderId != null"> AND o.bidder_id = #{bidderId} </if>
        <if test="tenderId != null"> AND o.tender_id = #{tenderId} </if>
        <if test="accepted != null"> AND o.accepted = #{accepted} </if>
    </select>

    <update id="acceptOffer">
        UPDATE offer SET accepted = TRUE, accept_user_id = #{acceptUserId}, status = #{status} WHERE id = #{id};
    </update>

    <update id="rejectTenderOffers">
        UPDATE offer SET status = #{status} WHERE tender_id = #{tenderId}
    </update>


</mapper>


